@use "@/assets/scss/general/flex" as *;

.product {
  padding: 45px 0 90px;

  &__container {
    @include flex-column;
    gap: 37px;
  }

  &__head {
    @include flex-between-center;
    gap: 10px;
    margin-bottom: 30px;
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }

  &__item {
    @include flex-column;
    align-items: center;
    gap: 14px;

    padding: 30px;

    transition: var(--ease);
    border: var(--border);
    border-radius: 40px;

    &:hover {
      border-color: var(--active-border-color);
      box-shadow: var(--shadow);
    }
  }

  &__image {
    max-width: 133px;
    width: 100%;
  }

  &__name {
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
  }

  &__info {
    @include flex-between-center;
    gap: 10px;
    width: 100%;
  }

  &__price {
    &-text {
      font-weight: 500;
      font-size: 11px;
      color: var(--grey);
    }

    &-value {
      font-weight: 700;
      font-size: 14px;
    }
  }
}

@media (max-width: 992px) {
  .product {
    &__list {
      grid-template-columns: auto;
    }
  }
}
