@use "@/assets/scss/general/flex" as *;

.profile {
  padding: 44px 0 90px;

  &__button {
    @include flex-all-center;
    width: 35px;
    height: 35px;
    border: var(--border);
    border-radius: 8px;
  }

  &__title {
    font-family: Inter;
    font-weight: 700;
    font-size: 32px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
}
