@use "@/assets/scss/general/flex" as *;

.slider {
  // padding: 120px 0;

  &__swiper {
    // @include flex-between-center;
  }

  &__slide {
    position: relative;
    height: 300px;
    overflow: hidden;
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 20px;
    overflow: hidden;

    img {
      object-fit: fill;
    }
  }

  &__content {
    position: relative;
    padding: 16px 20px;
    z-index: 1;
  }

  &__decor {
    max-width: 100px;
    width: 100%;
    margin-bottom: 32px;
  }

  &__box {
    @include flex-column;
    gap: 10px;
    padding-left: 40px;
  }

  &__title {
    max-width: 240px;
    font-weight: 700;
    font-size: 38px;
    color: var(--green);
  }

  &__button {
    width: fit-content;
  }
}

@media (max-width: 992px) {
  .slider {
    &__swiper {
    }

    &__slide {
      height: 200px;
    }

    &__bg {
      border-radius: unset;
    }

    &__decor {
      // margin-bottom: 10px;
    }

    &__box {
      padding: 0;
    }

    &__title {
      font-size: 24px;
    }
  }
}
