@use "@/assets/scss/general/flex" as *;

.button {
  @include flex-all-center;

  width: 32px;
  height: 32px;
  border: var(--border);
  border-radius: 8px;
  transition: var(--ease);

  &--active {
    // border-color: transparent;
    background: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
  }
}
