@use "@/assets/scss/general/flex" as *;

.counter {
  @include flex-all-center;
  gap: 10px;
  padding: 10px;
  border: var(--border);
  border-radius: var(--radius);

  &__input {
    display: block;
    text-align: center;
    max-width: 50px;
    width: 100%;
    border: none;
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;

    &:focus {
      outline: none;
    }
  }

  &:hover {
    border-color: var(--green);
    transition: var(--ease);
  }
}
