@use "@/assets/scss/general/flex" as *;

.footer {
  padding: 24px 0;
  background-color: var(--green);

  &__container {
    @include flex-between-center;
  }

  &__logo {
    max-width: 245px;
    width: 100%;
  }

  &__list {
    @include flex;
    gap: 32px;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    color: var(--white);
  }
}

@media (max-width: 992px) {
  .footer {
    padding: 25px 0;

    &__container {
      @include flex-column;
      align-items: flex-start;
      gap: 24px;
    }

    &__list {
      flex-wrap: wrap;
    }
  }
}
