@use "@/assets/scss/general/flex" as *;

.header {
  padding: 45px 0;
  border: var(--border);

  &__container {
    @include flex-between-center;
    gap: 10px;
  }

  &__logo {
    max-width: 245px;
    width: 100%;
    flex-shrink: 0;
  }

  &__list {
    @include flex;
    gap: 32px;
  }

  &__item {
    @include flex;
    gap: 8px;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    color: var(--graphite);
  }
}
