@use "@/assets/scss/general/flex" as *;

.header {
  padding: 45px 0;
  border: 1px solid #eaeaea;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__image {
    max-width: 40px;
    width: 100%;
  }

  &__box {
    // @include flex-column;
  }

  &__list {
    // display: flex;
    // align-items: center;
    gap: 32px;
    background-color: var(--green);
  }
}
