@use "@/assets/scss/general/flex" as *;

.like {
  @include flex-all-center;

  width: 32px;
  height: 32px;

  border: var(--border);
  border-radius: 8px;

  transition: var(--ease);

  svg {
    width: 14px;
    height: 14px;
    color: var(--grey);
  }

  &--active {
    border: none;
    background-color: var(--light-red);

    svg {
      fill: var(--red);
      color: var(--red);
    }
  }
}
