.link {
  // @include flex-all-center;
  gap: 40px;

  max-width: 325px;
  width: 100%;
  padding: 18px 33px;

  border-radius: var(--radius);
  font-weight: 600;
  font-size: 16px;
  background-color: var(--green);
  color: var(--white);

  svg {
    color: var(--white);
  }
}
