:root {
  --white: #fff;
  --grey: #bdbdbd;
  --green: #9dd458;
  // --border: #f3f3f3;
  --blue: #e7f6ff;
  --red: #ff8585;
  --light-red: #fef0f0;

  // black
  --black: #000000;
  --black-40: rgba(0, 0, 0, 0.4);
  --background-color: rgba(0, 0, 0, 0.5);

  --border: 1px solid #eaeaea;
  --active-border-color: #f8f8f8;
  --graphite: #5c5c5c;
  --shadow: 0px 14px 30px 0px #0000000d;
  --ease: all 0.2s ease;
  --radius: 20px;
}
