:root {
  --white: #fff;
  --black: #000000;
  --grey: #bdbdbd;
  --green: #9dd458;
  --border: #f3f3f3;
  --blue: #e7f6ff;

  --border: 1px solid #eaeaea;
  --active-border-color: #f8f8f8;
  --graphite: #5c5c5c;
  --shadow: 0px 14px 30px 0px #0000000d;
  --ease: all 0.5s ease;
  --radius: 20px;
}
