@use "@/assets/scss/general/flex" as *;

.empty {
  @include flex-all-center;
  padding: 120px 0;

  &__block {
    @include flex-column;
    gap: 40px;
  }

  &__image {
    display: block;
    max-width: 70px;
    width: 100%;
    margin: 0 auto;
  }

  &__box {
    text-align: center;
  }

  &__title {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
  }

  &__description {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
  }
}
